@font-face {
    font-family: poppins_regular;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}
html, body {
    font-family: poppins_regular, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}




.freelancer_svg {
    position: absolute;
    bottom: -160px;
    justify-content: center;
    width: 30%;
    /* align-content: center; */
    /* margin-left: auto; */
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}
